$brand-one: #4f4f51;
$brand-two: #feca17;
$bg-one: #f4f4f4;
$bg-two: #ededed;
$bg-three: #f2f1ef;
$bg-four: #576576;
$bg-five: #358cda;
$bg-six: #74b336;
$btn-one: #4c4c4c;
$font-one: #818a91;
$rgba-one: rgba(0, 0, 0, 0.3);
$white: #fff;
